In [1]:
import pandas as pd
import requests as r
from datetime import *     
import numpy as np

Test to see if data loader methods are working

In [2]:
from data_utils.DataLoader import DataLoader

In [3]:
start_date = "2024-01-01T00:00:00Z"
end_date   = "2024-03-01T00:00:00Z"

In [4]:
df = DataLoader.extract_data_concurrent(
    start_date=start_date,
    end_date=end_date,
    num_workers=10
)

Fetching data:   0%|          | 0/10 [00:00<?, ?it/s]

/Users/prasunbanerjee/Desktop/UniversityMaterials/Research/CEAR Hub/secoora/SecooraRiskModel/data_utils/DataLoader.py:33: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["time"] = pd.to_datetime(df["time"], utc=True, infer_datetime_format=True, errors="coerce")
/Users/prasunbanerjee/Desktop/UniversityMaterials/Research/CEAR Hub/secoora/SecooraRiskModel/data_utils/DataLoader.py:33: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["time"] = pd.to_datetime(df["time"], utc=True, infer_datetime_format=True, errors="coerce")
/Users/prasunbanerjee/Desktop/UniversityMaterials/Research/CEAR Hub/secoora/SecooraRiskModel/data_utils/DataLoader.py:33: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["time"] = pd.to_datetime(df["time"], utc=True, infer_datetime_format=True, errors="coerce")
/Users/prasunbanerjee/Desktop/UniversityMaterials/Research/CEAR Hub/secoora/SecooraRiskModel/data_utils/DataLoader.py:33: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["time"] = pd.to_datetime(df["time"], utc=True, infer_datetime_format=True, errors="coerce")
/Users/prasunbanerjee/Desktop/UniversityMaterials/Research/CEAR Hub/secoora/SecooraRiskModel/data_utils/DataLoader.py:33: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["time"] = pd.to_datetime(df["time"], utc=True, infer_datetime_format=True, errors="coerce")
/Users/prasunbanerjee/Desktop/UniversityMaterials/Research/CEAR Hub/secoora/SecooraRiskModel/data_utils/DataLoader.py:33: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["time"] = pd.to_datetime(df["time"], utc=True, infer_datetime_format=True, errors="coerce")
/Users/prasunbanerjee/Desktop/UniversityMaterials/Research/CEAR Hub/secoora/SecooraRiskModel/data_utils/DataLoader.py:33: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["time"] = pd.to_datetime(df["time"], utc=True, infer_datetime_format=True, errors="coerce")
/Users/prasunbanerjee/Desktop/UniversityMaterials/Research/CEAR Hub/secoora/SecooraRiskModel/data_utils/DataLoader.py:33: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["time"] = pd.to_datetime(df["time"], utc=True, infer_datetime_format=True, errors="coerce")
/Users/prasunbanerjee/Desktop/UniversityMaterials/Research/CEAR Hub/secoora/SecooraRiskModel/data_utils/DataLoader.py:33: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["time"] = pd.to_datetime(df["time"], utc=True, infer_datetime_format=True, errors="coerce")
/Users/prasunbanerjee/Desktop/UniversityMaterials/Research/CEAR Hub/secoora/SecooraRiskModel/data_utils/DataLoader.py:33: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["time"] = pd.to_datetime(df["time"], utc=True, infer_datetime_format=True, errors="coerce")

In [5]:
df

                                  time  result
0     2024-02-29 23:59:37.049000+00:00  -2.554
1     2024-02-29 23:54:21.577000+00:00  -2.585
2     2024-02-29 23:49:06.901000+00:00  -2.627
3     2024-02-29 23:43:57.624000+00:00  -2.664
4     2024-02-29 23:38:42.537000+00:00  -2.695
...                                ...     ...
16052 2024-01-01 00:30:40.493000+00:00  -2.605
16053 2024-01-01 00:25:25.693000+00:00  -2.643
16054 2024-01-01 00:15:02.527000+00:00  -2.726
16055 2024-01-01 00:09:53.356000+00:00  -2.771
16056 2024-01-01 00:04:38.722000+00:00  -2.820

[16057 rows x 2 columns]

In [6]:
df = DataLoader.transform_data(df)
df = DataLoader.order_df(df)

In [7]:
df

,year,month,day,day_of_week,hour,minute,second,hour_sin,hour_cos,day_of_week_sin,day_of_week_cos,month_sin,month_cos,lag_1,lag_2,lag_3,rolling_mean_3,rolling_std_3,result
0,2024,2,29,3,23,59,37,-0.258819,0.965926,0.433884,-0.900969,0.866025,0.500000,NaN,NaN,NaN,NaN,NaN,-2.554
1,2024,2,29,3,23,54,21,-0.258819,0.965926,0.433884,-0.900969,0.866025,0.500000,-2.554,NaN,NaN,NaN,NaN,-2.585
2,2024,2,29,3,23,49,6,-0.258819,0.965926,0.433884,-0.900969,0.866025,0.500000,-2.585,-2.554,NaN,-2.588667,0.036638,-2.627
3,2024,2,29,3,23,43,57,-0.258819,0.965926,0.433884,-0.900969,0.866025,0.500000,-2.627,-2.585,-2.554,-2.625333,0.039526,-2.664
4,2024,2,29,3,23,38,42,-0.258819,0.965926,0.433884,-0.900969,0.866025,0.500000,-2.664,-2.627,-2.585,-2.662000,0.034044,-2.695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16052,2024,1,1,0,0,30,40,0.000000,1.000000,0.000000,1.000000,0.500000,0.866025,-2.568,-2.528,-2.490,-2.567000,0.038510,-2.605
16053,2024,1,1,0,0,25,25,0.000000,1.000000,0.000000,1.000000,0.500000,0.866025,-2.605,-2.568,-2.528,-2.605333,0.037501,-2.643
16054,2024,1,1,0,0,15,2,0.000000,1.000000,0.000000,1.000000,0.500000,0.866025,-2.643,-2.605,-2.568,-2.658000,0.061879,-2.726
16055,2024,1,1,0,0,9,53,0.000000,1.000000,0.000000,1.000000,0.500000,0.866025,-2.726,-2.643,-2.605,-2.713333,0.064933,-2.771
16056,2024,1,1,0,0,4,38,0.000000,1.000000,0.000000,1.000000,0.500000,0.866025,-2.771,-2.726,-2.643,-2.772333,0.047014,-2.820