In [11]:
import pandas as pd
import requests as r
from datetime import *     
import numpy as np

In [12]:
df = pd.read_csv('/Users/prasunbanerjee/Desktop/UniversityMaterials/Research/CEAR Hub/secoora/test_data.csv')
df = df.iloc[:, [0, 1]].reset_index(drop=True)
df.columns = ["time", "result"]
df = df.drop(0, axis=0)
df

                            time  result
1     2024-12-25T17:50:10.81222Z  -2.098
2    2024-12-25T17:55:19.800911Z  -2.064
3    2024-12-25T18:00:34.410826Z  -2.036
4    2024-12-25T18:05:43.303884Z  -2.017
5    2024-12-25T18:10:57.930353Z  -2.001
..                           ...     ...
647  2024-12-28T05:20:38.736164Z  -2.928
648  2024-12-28T05:21:05.116032Z  -2.927
649   2024-12-28T05:21:32.13423Z  -2.925
650  2024-12-28T05:26:45.716006Z  -2.911
651  2024-12-28T05:31:52.121195Z  -2.889

[651 rows x 2 columns]

In [13]:
df["time"] = pd.to_datetime(df["time"])
df["year"] = df["time"].dt.year
df["month"] = df["time"].dt.month
df["day"] = df["time"].dt.day
df["day_of_week"] = df["time"].dt.dayofweek
df["hour"] = df["time"].dt.hour
df["minute"] = df["time"].dt.minute
df["second"] = df["time"].dt.second

df["hour_sin"] = np.sin(2 * np.pi * df["hour"] / 24)
df["hour_cos"] = np.cos(2 * np.pi * df["hour"] / 24)

df["day_of_week_sin"] = np.sin(2 * np.pi * df["day_of_week"] / 7)
df["day_of_week_cos"] = np.cos(2 * np.pi * df["day_of_week"] / 7)

df["month_sin"] = np.sin(2 * np.pi * df["month"] / 12)
df["month_cos"] = np.cos(2 * np.pi * df["month"] / 12)

df["lag_1"] = df["result"].shift(1)
df["lag_2"] = df["result"].shift(2)
df["lag_3"] = df["result"].shift(3)

df["rolling_mean_3"] = df["result"].rolling(window=3).mean()
df["rolling_std_3"] = df["result"].rolling(window=3).std()

columns = ["year", 
            "month", 
            "day", 
            "day_of_week", 
            "hour", 
            "minute", 
            "second", 
            "hour_sin", 
            "hour_cos", 
            "day_of_week_sin", 
            "day_of_week_cos", 
            "month_sin", 
            "month_cos", 
            "lag_1",
            "lag_2", 
            "lag_3", 
            "rolling_mean_3",
            "rolling_std_3",
            "result"
            ]

df = df[columns]
df

,year,month,day,day_of_week,hour,minute,second,hour_sin,hour_cos,day_of_week_sin,day_of_week_cos,month_sin,month_cos,lag_1,lag_2,lag_3,rolling_mean_3,rolling_std_3,result
1,2024,12,25,2,17,50,10,-0.965926,-2.588190e-01,0.974928,-0.222521,-2.449294e-16,1.0,None,None,None,NaN,NaN,-2.098
2,2024,12,25,2,17,55,19,-0.965926,-2.588190e-01,0.974928,-0.222521,-2.449294e-16,1.0,-2.098,None,None,NaN,NaN,-2.064
3,2024,12,25,2,18,0,34,-1.000000,-1.836970e-16,0.974928,-0.222521,-2.449294e-16,1.0,-2.064,-2.098,None,-2.066000,0.031048,-2.036
4,2024,12,25,2,18,5,43,-1.000000,-1.836970e-16,0.974928,-0.222521,-2.449294e-16,1.0,-2.036,-2.064,-2.098,-2.039000,0.023643,-2.017
5,2024,12,25,2,18,10,57,-1.000000,-1.836970e-16,0.974928,-0.222521,-2.449294e-16,1.0,-2.017,-2.036,-2.064,-2.018000,0.017521,-2.001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,2024,12,28,5,5,20,38,0.965926,2.588190e-01,-0.974928,-0.222521,-2.449294e-16,1.0,-2.93,-2.932,-2.932,-2.930000,0.002000,-2.928
648,2024,12,28,5,5,21,5,0.965926,2.588190e-01,-0.974928,-0.222521,-2.449294e-16,1.0,-2.928,-2.93,-2.932,-2.928333,0.001528,-2.927
649,2024,12,28,5,5,21,32,0.965926,2.588190e-01,-0.974928,-0.222521,-2.449294e-16,1.0,-2.927,-2.928,-2.93,-2.926667,0.001528,-2.925
650,2024,12,28,5,5,26,45,0.965926,2.588190e-01,-0.974928,-0.222521,-2.449294e-16,1.0,-2.925,-2.927,-2.928,-2.921000,0.008718,-2.911
651,2024,12,28,5,5,31,52,0.965926,2.588190e-01,-0.974928,-0.222521,-2.449294e-16,1.0,-2.911,-2.925,-2.927,-2.908333,0.018148,-2.889