In [1]:
import pandas as pd
import requests as r
from datetime import *     
import numpy as np

Test to see if data loader methods are working

In [2]:
from data_utils.DataLoader import DataLoader

In [8]:
start_date = "2024-01-01T00:00:00Z"
end_date   = "2025-01-01T00:00:00Z"

In [7]:
df = DataLoader.extract_data(start_date, end_date)
df = DataLoader.transform_data(df)
df = DataLoader.order_df(df)
df.head()

,year,month,day,day_of_week,hour,minute,second,hour_sin,hour_cos,day_of_week_sin,day_of_week_cos,month_sin,month_cos,lag_1,lag_2,lag_3,rolling_mean_3,rolling_std_3,result
0,2024,1,1,0,23,59,4,-0.258819,0.965926,0.0,1.0,0.5,0.866025,NaN,NaN,NaN,NaN,NaN,-2.945
1,2024,1,1,0,23,53,49,-0.258819,0.965926,0.0,1.0,0.5,0.866025,-2.945,NaN,NaN,NaN,NaN,-2.968
2,2024,1,1,0,23,48,40,-0.258819,0.965926,0.0,1.0,0.5,0.866025,-2.968,-2.945,NaN,-2.965000,0.018682,-2.982
3,2024,1,1,0,23,38,16,-0.258819,0.965926,0.0,1.0,0.5,0.866025,-2.982,-2.968,-2.945,-2.989667,0.026350,-3.019
4,2024,1,1,0,23,33,1,-0.258819,0.965926,0.0,1.0,0.5,0.866025,-3.019,-2.982,-2.968,-3.012667,0.028042,-3.037